<footer class="footer">
  <nav>
    <ul>
      <li><a href="http://alpha.sf.cs.it-chiba.ac.jp/mediawiki/">SFwiki</a></li>
      <li><a href="http://alpha.sf.cs.it-chiba.ac.jp/gitbucket/">GitBucket</a></li>  
    </ul>
  </nav>
</footer>