<div class="center jumbotron">
  <h1>出席管理システム</h1>
</div>
<div class="system">
  <% if logged_in? %>
  	<p>出席ボタン有りのメンバーの出席状況を表示する予定</p>
  <% else %>
  	<p>出席ボタン無しのメンバーの出席状況を表示する予定</p>
  <% end %>
</div>