<div class="center jumbotron">
  <h1>出席管理システム</h1>
</div>
<div class="system">
	<ul class="users">
		<table class="hometable">
			<% @users.each do |user| %>
			<% if user.name != "SFlab" %>
		  	<tr>
		  		<% if user.state == "ここはラボ"%>
		  	  	<td><%= user.name %></td>
		  	  	<td id="hilight">ラボ</td>
		  	  	<td>帰宅</td>
		  	  <% else %>
		  	  	<td><%= user.name %></td>
		  	  	<td>ラボ</td>
		  	  	<td id="hilight">帰宅</td>		  	  	
		  	  <% end %>
		  	</tr>
		  <% end %>
		  <% end %>
		</table>
	</ul>
</div>